<p><b>Click and move instantly</b> on mindmap to drag.</p>
<p><b>Click and wait a moment</b> to select multiple nodes.</p>
<p><b>Double click</b> on mindmap to create a new node.</p>
<p><b>Backspace / Delete</b> on mindmap to delete node(s).</p>
<p><b>Tab / Enter</b> to create a new child/sibling for the selected node.</p>
<p><b>W / S</b> key to go to parent/child node.</p>
<p><b>Ctrl + C / X / V</b> on mindmap to copy/cut/paste selected node(s).</p>
<p><b>Ctrl + Z / Y</b> on mindmap to undo/redo action.</p>
<p><b>Ctrl + Scroll</b> on mindmap to zoom in/out.</p>
<p><b>Shift + Enter</b> when editing node to start a new line.</p>
