p {
  font-family: Lato;
}
.bound-box {
  border: solid;
  border-color: red;
  height: 100vh;
  width: 100vx;
}

.resizable-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px black;
  border-radius: 50%;
  width: 180px;
  height: 90px;
  opacity: 0.5;
  text-align: center;
  background-color: bisque;
  position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%); // Offset the element to center it exactly
}

.widget-header {
  text-align: center;
  width: 60px;
}

// .input-text {
//   background-color: transparent;
//   border: none;
//   font-size: 16px;
//   // overflow: hidden; // Prevents scroll bars
//   resize: none; // Prevents resizing of the textarea
//   margin: 10%;
//   line-height: 1.2; // Ensures the line height matches the font size for single-line appearance
//   text-align: center;
// }

textarea {
  min-height: 60px;
  overflow-y: auto;
  background-color: transparent;
  border: none;
  margin: 10%;
  font-size: 16px;
  word-wrap: break-word;
  line-height: 1;
  text-align: center;
  align-content: center;
  resize: none !important;
}
