<div
  id="{{ id }}"
  ngDraggable
  ngResizable
  [inBounds]="true"
  [bounds]="canvas"
  [rzAspectRatio]="true"
  rzHandles="s,e,se"
  [position]="position"
  class="resizable-widget"
  (rzResizing)="emitResizeEvent($event)"
  (contextmenu)="rightClick($event)"
  (movingOffset)="emitMovingOffset()"
  (stopped)="onDragEnd($event)"
  [rzMinWidth]="120"
  [rzMinHeight]="60"
  [rzMaxWidth]="480"
  [rzMaxHeight]="240"
  (dblclick)="onDoubleClick($event)"
  >
  <!-- [scale]="0.5" -->
  <textarea
    #myTextArea
    class="input-text"
    placeholder="Input here......"
    rows="1"
    [style.fontSize.px]="fontSize"
    isEditing="false"
    (keyup)="onKeyUp($event)"
    
  ></textarea>
</div>
