<div class="container" *ngIf="!isLoading">
  <div class="header">
    <div class="logo" (click)="reloadPage()">
      <img src="/assets/logo-transparent.png" alt="Logo" class="logo-image" />
      <img src="/assets/MindMappers.png" alt="MindMappers" class="logo-text" />
    </div>
    <div class="nav-buttons">
      <button nzButton class="nav-button" (click)="showAbout()">
        <span nz-icon nzType="coffee" nzTheme="outline"></span>
        <span class="margin-left-5px nav-text">About</span>
      </button>
      <button nzButton class="nav-button" (click)="showCredits()">
        <span nz-icon nzType="copyright" nzTheme="outline"></span>
        <span class="margin-left-5px nav-text">Credits</span>
      </button>
      <button class="nav-button" (click)="freeTrial()">
        <span nz-icon nzType="user" nzTheme="outline"></span>
        <span class="margin-left-5px nav-text">Free Trial</span>
      </button>
      <button class="nav-button" (click)="signIn()">
        <span nz-icon nzType="google" nzTheme="outline"></span>
        <span class="margin-left-5px nav-text">Sign in with Google</span>
      </button>
    </div>
  </div>
  <div class="hero-section">
    <app-floating-div></app-floating-div>
  </div>
</div>
<div class="loading-container" *ngIf="isLoading">
  <nz-spin [nzSize]="'large'"></nz-spin>
</div>
