body,
html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.container {
  position: relative;
  z-index: 1;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
  z-index: -1;
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Adjust the opacity as needed */
  z-index: -1;
}

.header {
  background-color: rgba(255, 255, 255, 0.96);
  padding: 6px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.logo {
  cursor: pointer;
  user-select: none;
  // background-color: white;
}

.logo-image {
  height: 40px;
  width: 40px;
}

.logo-text {
  margin-left: 4px;
  height: 28px;
  width: auto;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease;
  color: #196dc2;
}

.nav-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.margin-left-5px {
  margin-left: 5px;
}

.nav-text {
  font-weight: bold;
}

.loading-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
