<div
  #resizeBox
  class="container"
  style="position: relative"
  [style.width.px]="width"
  [style.height.px]="height"
  cdkDrag
>
  <span
    #dragHandleCorner
    class="dragHandle corner"
    cdkDrag
    (cdkDragMoved)="dragMove(dragHandleCorner, $event)"
  ></span>
  <span
    #dragHandleRight
    cdkDragLockAxis="x"
    class="dragHandle right"
    cdkDrag
    (cdkDragMoved)="dragMove(dragHandleRight, $event)"
  ></span>
  <span
    #dragHandleBottom
    cdkDragLockAxis="y"
    class="dragHandle bottom"
    cdkDrag
    (cdkDragMoved)="dragMove(dragHandleBottom, $event)"
  ></span>
  <span class="full" style="width: 100%">Hello World!</span>
</div>
