<div class="Map" *ngIf="dataReady">
  <div class="flex">
    <h2>All Rooms</h2>
    <app-create-room-modal></app-create-room-modal>
  </div>
  <nz-empty *ngIf="rooms.length === 0" [nzNotFoundContent]="contentTpl" />

  <div class="all-cards">
    <!-- class="room-card" -->
    <nz-card
      *ngFor="let room of rooms"
      style="width: 300px; margin-top: 16px"
      [nzActions]="[actionDelete, actionEdit, actionSetting]"
      [nzLoading]="false"
    >
      <nz-skeleton
        [nzActive]="true"
        [nzLoading]="false"
        (click)="joinRoom(room)"
        style="cursor: pointer"
        nz-tooltip
        nzTooltipPlacement="bottom"
        [nzTooltipTitle]="'Join Room: ' + room.name"
      >
        <nz-card-meta
          [nzAvatar]="imageTemplate"
          [nzTitle]="titleTemplate"
          [nzDescription]="contentTemplate"
        ></nz-card-meta>
      </nz-skeleton>
      <ng-template #titleTemplate>
        <div class="wrap-text height-30 overflow-hidden">
          <h3>{{ room.name }}</h3>
        </div>
      </ng-template>
      <ng-template #contentTemplate>
        <div class="wrap-text height-48 overflow-hidden">
          <span>{{ room.description }}</span>
        </div>
      </ng-template>
      <ng-template #imageTemplate>
        <img
          [src]="room.ownerAvatar"
          style="width: 56px; height: 56px; border-radius: 50%"
          nz-tooltip
          nzTooltipPlacement="bottom"
          [nzTooltipTitle]="'Owner: ' + room.ownerName"
        />
      </ng-template>
      <ng-template #actionSetting>
        <span
          nz-icon
          nzType="fund"
          nzTheme="fill"
          nz-tooltip
          nzTooltipPlacement="bottom"
          nzTooltipTitle="Join Room"
          (click)="joinRoom(room)"
        ></span>
      </ng-template>
      <ng-template #actionEdit>
        <span
          nz-icon
          nzType="edit"
          nzTheme="fill"
          nz-tooltip
          nzTooltipPlacement="bottom"
          [nzTooltipTitle]="
            room.owner === user.id ? 'Edit Room' : 'You are not the owner'
          "
          (click)="editRoom(room)"
          [class.disabled]="room.owner !== user.id"
          [attr.disabled]="room.owner !== user.id ? true : null"
        ></span>
      </ng-template>
      <ng-template #actionDelete>
        <span
          nz-icon
          nzType="delete"
          nzTheme="fill"
          nz-tooltip
          nzTooltipPlacement="bottom"
          [nzTooltipTitle]="
            room.owner === user.id ? 'Delete Room' : 'You are not the owner'
          "
          (click)="deleteRoom(room)"
          [class.disabled]="room.owner !== user.id"
          [attr.disabled]="room.owner !== user.id ? true : null"
        ></span>
      </ng-template>
    </nz-card>
  </div>
</div>

<div class="loading-container" *ngIf="!dataReady">
  <nz-spin [nzSize]="'large'"></nz-spin>
</div>
